{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="columns is-mobile">

        <div class="column">

            <div class="notification-list-content">
                <div class="notification-header">
                    <p>Notification</p>
                </div>
                <div class="notification-list-body">
                    {% if notifications | length > 0 %}
                    {% for notification in notifications %}
                        <div class="notification-text {{ (notification.isCheck == true)? 'notification-is-checked':'' }}">
                            {% if notification.isCheck == true %}
                                <button class="checked tooltip is-tooltip-left" data-tooltip="Readen"><i class="far fa-eye"></i></button>
                            {% else %}
                                <button class="isCheck tooltip is-tooltip-left" data-tooltip="Check as read" data-id="{{ notification.id }}"><i
                                            class="fas fa-eye-slash"></i></button>
                            {% endif %}
                            <p>{{ notification.notificationText }}</p>
                            <span class="is-size-7">{{ notification.createdAt | date('Y-M-d h:i:s') }}</span>
                        </div>
                    {% endfor %}
                    {% else %}
                        <div class="not-notifications">
                            <p>Not Notifications</p>
                        </div>
                    {% endif %}
                    {% if paginationTotal > 1 %}
                            <div class="paginate-content">
                                <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                                    <a class="pagination-previous"
                                       href="{{ path('notifications', {'paginate': paginate - 1}) }}" {{ (paginate == 1)? 'disabled': '' }}>
                                        < </a>
                                    <ul class="pagination-list">
                                        {% for pgnt in 1..paginationTotal %}
                                            <li><a class="pagination-link  {{ (pgnt == paginate)? 'is-current': '' }}"
                                                   href="{{ path('notifications', {'paginate': pgnt}) }}">{{ pgnt }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    <a class="pagination-next"
                                       href="{{ path('notifications', {'paginate': paginate + 1}) }}" {{ (paginate == paginationTotal)? 'disabled': '' }}>
                                        > </a>
                                </nav>
                            </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}