{% extends 'dashboard/base.html.twig' %}

{% block body %}


    <div class="wrapper">
        <div class="columns">

            {{ include(':dashboard/blocks:left.html.twig') }}

            <main class="column main">
                <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li class="is-active"><a href="#" aria-current="page">Properties for rent</a></li>
                    </ul>
                </nav>

                <div class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <div class="title">Properties for rent
                                <a class="button is-success" href="#{#{ path('') }#}">
                                    <span class="icon is-small">
                                      <i class="fas fa-plus"></i>
                                    </span>
                                    <span>Add a property</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns is-multiline">
                    <div class="column">
                        <table class="table is-bordered is-striped is-narrow is-fullwidth">
                            <thead>
                            <tr>

                                <th>Id</th>
                                <th>Title</th>
                                <th>Main photo</th>
                                <th>Price</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Main photo</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                            <tbody>

                            {% for house in pagination %}
                                <tr>
                                    <td>{{ house.id }}</td>
                                    <td>{{ house.area.state.name }}</td>
                                    <td class="list-house-thumbnail">
                                        <img src="{{ house.photos | first.path }}">
                                    <td>{{ house.price }}</td>
                                    <td>
                                        <a class="button is-info tooltip is-tooltip-bottom"
                                           data-tooltip="Edit the property"
                                           href="{{ path('proprent_edit', {"id":house.id}) }}">
                                            <span class="icon">
                                                <i class="fas fa-edit"></i>
                                            </span>
                                        </a>
                                        <a class="button is-warning tooltip is-tooltip-bottom"
                                           data-tooltip="Disable the property"
                                           href="{{ path('proprent_edit', {"id":house.id}) }}">
                                            <span class="icon">
                                                <i class="fas fa-ban"></i>
                                            </span>
                                        </a>
                                        <a class="button is-danger tooltip is-tooltip-bottom"
                                           data-tooltip="Delete the property"
                                           href="#">
                                            <span class="icon">
                                                <i class="fas fa-trash"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                            {{ knp_pagination_render(pagination) }}
                        </nav>
                        <a class="button is-success" href="#{#{ path('') }#}">
                                    <span class="icon is-small">
                                      <i class="fas fa-plus"></i>
                                    </span>
                            <span>Add a property</span>
                        </a>
                    </div>
                </div>

            </main>
        </div>
    </div>
{% endblock %}