{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <nav class="breadcrumb has-arrow-separator is-small" aria-label="breadcrumbs">
        <ul>
            <li><a href="{{ path('dashboard_home') }}">{{ 'home'|trans }}</a></li>
            <li><a href="{{ path(entityAltNamePlu~'_index') }}">{{ (entityAltName~'.title')|trans }}</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ 'add'|trans }}</a></li>
        </ul>
    </nav>

    <div class="level">
        <div class="level-left">
            <div class="level-item">
                <div class="title">
                    {{ 'add'|trans~' '~(entityAltName~'.name')|trans }}
                </div>
            </div>
        </div>
    </div>

    <div class="columns is-mobile">
        <div class="column is-full-mobile is-two-thirds-tablet">

            {{ form_start(form, {'method': 'post', 'action': path(entityAltNamePlu~'_add_single')}) }}
            {% form_theme form ':dashboard/form:custom_form.html.twig' %}
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">{{ form_label(form.name) }}</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            {{ form_widget(form.name) }}
                        </div>
                        <p class="help is-danger">{{ form_errors(form.name) }}</p>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label" for>{{ form_label(form.state) }}</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control has-icons-left">
                            <div class="select">
                                {{ form_widget(form.state) }}
                            </div>
                            <span class="icon is-left">
                                <i class="fas fa-globe"></i>
                            </span>
                        </div>
                        <p class="help is-danger">{{ form_errors(form.state) }}</p>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control has-icons-left">
                            <input class="button is-primary" type="submit" id="_submit" name="_submit" value="{{ 'add'|trans }}"/>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}