<aside class="column is-2 aside navbar-menu" id="navMenu">
    <nav class="menu">
        <ul class="menu-list">
            {#<li class="tooltip is-tooltip-right" data-tooltip="Your Subscribed plan">#}
                {#{% if app.user.userPlan is not null %}#}

                    {#<a href="{{ path('subscription_plan') }}">#}
                    {#<span class="icon is-small mr-5" style="color: #23d160;">#}
                        {#<i class="fas fa-circle"></i>#}
                    {#</span>#}
                        {#{{ app.user.userPlan.plan.planTitle }}#}
                    {#</a>#}
                {#{% else %}#}
                    {#<a class="" href="{{ path('subscription_plan') }}">#}
                    {#<span class="icon is-small mr-5" style="color: #ff3860;">#}
                        {#<i class="fas fa-circle"></i>#}
                    {#</span>#}
                        {#Not Plan Subscribed#}
                    {#</a>#}
                {#{% endif %}#}
            {#</li>#}
            <li>
                <a {% if app.request.get('_route') == 'dashboard_home' %}
                    class="is-active"
                {% endif %}
                        href="{{ path('dashboard_home') }}">
                    <span class="icon is-small mr-5">
                        <i class="fas fa-tachometer-alt"></i>
                    </span> Dashboard home
                </a>
            </li>
            <li>
                <a {% if app.request.get('_route') == 'subscription_plan' %}
                    class="is-active"
                {% endif %}
                        href="{{ path('subscription_plan') }}">
                    <span class="icon is-small mr-5">
                        <i class="fas fa-feather fa-fw"></i>
                    </span>Subscriptions
                </a>
            </li>
            {% if app.user.userPlan.plan is defined and app.user.userPlan.plan.id == 3 %}
                <li>
                    <a {% if app.request.get('_route') == 'buy_coins_dashboard' %}
                        class="is-active"
                    {% endif %}
                            href="{{ path('buy_coins_dashboard') }}">
                    <span class="icon is-small mr-5">
                        <i class="fas fa-dollar-sign"></i>
                    </span>Managing budget and coin
                    </a>
                </li>
            {% endif %}
            <li>
                <a class="{% if app.request.get('_route') == 'notifications' %}
                    is-active
                {% endif %} p-relative"
                   href="{{ path('notifications') }}">
                    <span class="icon is-small mr-5">
                        <i class="fas fa-bell fa-fw"></i>
                    </span>Notification

                    {{ render(controller("AppBundle:Notification:notificationCount")) }}

                </a>
            </li>

            <li><a {% if app.request.get('_route') == 'proprent_index' %}
                    class="is-active"
                {% endif %}
                        href="{{ path('proprent_index') }}">
                    <span class="icon is-small mr-5">
                        <i class="fas fa-hourglass-half"></i>
                    </span> Properties for rent
                </a>
            </li>
            <li><a {% if app.request.get('_route') == 'propsell_index' %}
                    class="is-active"
                {% endif %}
                        href="{{ path('propsell_index') }}">
                    <span class="icon is-small mr-5"><i class="fas fa-hand-holding-usd"></i></span>
                    Properties for sale
                </a>
            </li>
            <li><a {% if app.request.get('_route') == 'propshort_index' %}
                    class="is-active"
                {% endif %}
                        href="{{ path('propshort_index') }}">
                    <span class="icon is-small mr-5">
                        <i class="fas fa-hourglass-half"></i>
                    </span> Properties for short let
                </a>
            </li>
            <li><a {% if app.request.get('_route') == 'property_index' %}
                    class="is-active"
                {% endif %}
                        href="{{ path('property_index') }}">
                    <span class="icon is-small mr-5">
                        <i class="fas fa-asterisk"></i>
                    </span> All properties
                </a>
            </li>
            <li><a {% if app.request.get('_route') == 'propunaval_index' %}
                    class="is-active"
                {% endif %}
                        href="{{ path('propunaval_index') }}">
                    <span class="icon is-small mr-5"><i class="fas fa-ban"></i></span>
                    Unavailable properties</a>
            </li>

            <li><a {% if app.request.get('_route') == 'property_request_requests' %}
                    class="is-active"
                {% endif %}
                        href="{{ path('property_request_requests') }}">
                    <span class="icon is-small mr-5">
                       <i class="fas fa-home"></i>
                    </span> Property Requests
                </a>
            </li>
            {#<li><a {% if app.request.get('_route') == 'selected_user_house' %}#}
            {#class="is-active"#}
            {#{% endif %}#}
            {#href="{{ path('selected_user_house') }}">#}
            {#<span class="icon is-small mr-5">#}
            {#<i class="fas fa-home"></i>#}
            {#</span> Selected Property Requests#}
            {#</a>#}
            {#</li>#}
            <li><a {% if app.request.get('_route') == 'house_inspection_requests' %}
                    class="is-active"
                {% endif %}
                        href="{{ path('house_inspection_requests') }}">
                    <span class="icon is-small mr-5">
                        <i class="fas fa-asterisk"></i>
                    </span> Property Inspection
                </a>
            </li>
            <li><a {% if app.request.get('_route') == 'call_requests' %}
                    class="is-active"
                {% endif %}
                        href="{{ path('call_requests') }}">
                    <span class="icon is-small mr-5">
                        <i class="fas fa-phone-square"></i>
                    </span> Call Requests
                </a>
            </li>
            <li><a {% if contact_history is defined %}
                    class="is-active"
                {% endif %}
                        href="{{ path('call_contact_history') }}">
                    <span class="icon is-small mr-5">
                        <i class="fas fa-phone-square"></i>
                    </span>Contact History
                </a>
            </li>

            <li><a {% if app.request.get('_route') == 'blog_dashboard' %}
                    class="is-active"
                {% endif %}
                        href="{{ path('blog_dashboard') }}">
                    <span class="icon is-small mr-5">
                       <i class="far fa-newspaper"></i>
                    </span> News
                </a>
            </li>

            <li><a href="{{ path('fos_user_profile_show') }}"><span class="icon is-small mr-5"><i class="fas fa-th-list"></i></span>
                    Agency details
                </a>
            </li>
            {#<li>#}
            {#<a href="{{ path('transaction_history') }}"#}
            {#{% if app.request.get('_route') == 'transaction_history' %}#}
            {#class="is-active"#}
            {#{% endif %}#}
            {#><span class="icon is-small mr-5"><i class="fas fa-history"></i></span>#}
            {#Transaction History#}
            {#</a>#}
            {#</li>#}
         {#   <li><a {% if app.request.get('_route') == 'history_index' %}
                    class="is-active"
                {% endif %}

                        href="{{ path('history_index') }}"><span class="icon is-small mr-5"><i class="fas fa-history"></i></span>
                    Contact history</a></li>#}
            <li><a
                        {% if app.request.get('_route') == 'proptbin_index' %}
                            class="is-active"
                        {% endif %}
                        href="{{ path('proptbin_index') }}"><span class="icon is-small mr-5"><i
                                class="fas fa-trash-alt"></i></span>
                    Recycle bin</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}"><span class="icon is-small mr-5"><i
                                class="fas fa-sign-out-alt"></i></span>
                    Logout</a></li>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="is-divider" data-content="EXTRA"></div>
                <li>
                    <a href="{{ path('agency_index') }}"><span class="icon is-small mr-5"><i
                                    class="fas fa-clipboard-list"></i></span>
                        Agencies</a>
                </li>
                <li>
                    <a href="{{ path('states_index') }}">
                        <span class="icon is-small mr-5"><i class="fas fa-globe"></i></span>
                        States</a>
                </li>
                <li>
                    <a href="{{ path('lgas_index') }}">
                        <span class="icon is-small mr-5"><i class="fas fa-flag"></i></span>
                        LGAs</a>
                </li>
                <li>
                    <a href="{{ path('areas_index') }}">
                        <span class="icon is-small mr-5"><i class="fas fa-sign"></i></span>
                        Areas</a>
                </li>
                <li>
                    <a href="{{ path('features_index') }}">
                        <span class="icon is-small mr-5"><i class="fas fa-clipboard-check"></i></span>
                        Features</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</aside>