<aside class="column is-2 aside">
    <nav class="menu">
        <ul class="menu-list">
            <li><a
                        {% if app.request.get('_route') == 'dashboard_home' %}
                            class="is-active"
                        {% endif %}
                        href="{{ path('dashboard_home') }}">
                    <span class="icon is-small">
                        <i class="fas fa-tachometer-alt"></i>
                    </span> Dashboard home
                </a>
            </li>
            <li><a
                        {% if app.request.get('_route') == 'proprent_index' %}
                            class="is-active"
                        {% endif %}
                        href="{{ path('proprent_index') }}">
                    <span class="icon is-small">
                        <i class="fas fa-hourglass-half"></i>
                    </span> Properties for rent
                </a>
            <li><a
                        {% if app.request.get('_route') == 'propsell_index' %}
                            class="is-active"
                        {% endif %}
                        href="{{ path('propsell_index') }}">
                    <span class="icon is-small"><i class="fas fa-hand-holding-usd"></i></span>
                    Properties for sale
                </a>
            </li>
            <li><a href="#{#{ path('house_list') }#}"><span class="icon is-small"><i class="fas fa-ban"></i></span>
                    Disabled properties</a></li>
            <li><a href="#{#{ path('house_list') }#}"><span class="icon is-small"><i class="fas fa-th-list"></i></span>
                    Agency details</a></li>
            <li><a href="#{#{ path('house_list') }#}"><span class="icon is-small"><i class="fas fa-history"></i></span>
                    Contact history</a></li>
            <li><a href="#{#{ path('house_list') }#}"><span class="icon is-small"><i
                                class="fas fa-trash-alt"></i></span>
                    Recycle bin</a></li>
            <li><a href="#{#{ path('house_list') }#}"><span class="icon is-small"><i
                                class="fas fa-sign-out-alt"></i></span>
                    Logout</a></li>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <div class="is-divider" data-content="EXTRA"></div>
                <li>
                    <a href="{{ path('agency_list') }}"><span class="icon is-small"><i
                                    class="fas fa-clipboard-list"></i></span>
                        Agencies</a>
                </li>
                <li>
                    <a href="{{ path('states_index') }}">
                        <span class="icon is-small"><i class="fas fa-globe"></i></span>
                        States</a>
                </li>
                <li>
                    <a href="{{ path('lgas_index') }}">
                        <span class="icon is-small"><i class="fas fa-flag"></i></span>
                        LGAs</a>
                </li>
                <li>
                    <a href="{{ path('areas_index') }}">
                        <span class="icon is-small"><i class="fas fa-sign"></i></span>
                        Areas</a>
                </li>
            {% endif %}

        </ul>
    </nav>
</aside>