<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bulma.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/login.css') }}"/>
    {% endblock %}
</head>
<body>
<section class="hero is-fullheight login">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-8 is-offset-2">
                <div class="box">
                    <span class="logo">
                            <img src="{{ asset('images/liteup-logo.png') }}" alt="Liteup"/>
					</span>
                    <p class="is-normal">
                        Liteup Management Tool
                    </p>
                    {% if app.request.hasPreviousSession %}
                        {% if app.session.flashbag.all() is not empty %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                    <div class="columns is-mobile">
                        <div class="column is-12-mobile is-8-tablet is-offset-2-tablet">
                            {% block fos_user_content %}
                            {% endblock fos_user_content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>