{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="notification is-danger">
        <button class="delete"></button>
        <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}


    <div class="field">
        <div class="control">
            <input  class="input" type="text" placeholder="Username" autofocus="" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="input" type="password" placeholder="Password" id="password" name="_password" required="required" autocomplete="current-password" />
        </div>
    </div>


    <div class="field">
        <div class="control">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label class="checkbox" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
    </div>

    <input class="liteup-login-btn" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

</form>

<p class="is-small">
    <a href="{{ path('fos_user_registration_register') }}">Register</a> &nbsp;·&nbsp;
    <a href="{{ path('fos_user_resetting_request') }}">Forgot Password</a>
</p>