{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="transaction-content">
        <table id="transaction-table">
            <thead>
            <tr>
                <th colspan="4">Bathrooms</th>
                <th colspan="4">BedRooms</th>
                <th colspan="4">Toilets</th>
            </tr>
            </thead>
            <tbody>
            {#<tr colspan="3">#}
            {#<td>Rent</td>#}
            {#<td>Short Let</td>#}
            {#<td>Buy</td>#}
            {#</tr>#}
            {#<tr colspan="3">#}
            {#<td>Rent</td>#}
            {#<td>Short Let</td>#}
            {#<td>Buy</td>#}
            {#</tr>#}
            <tr>
                <td colspan="1">Room Count</td>
                <td>Buy</td>
                <td>Rent</td>
                <td>Short Let</td>
                <td colspan="1">Room Count</td>
                <td>Buy</td>
                <td>Rent</td>
                <td>Short Let</td>
                <td colspan="1">Room Count</td>
                <td>Buy</td>
                <td>Rent</td>
                <td>Short Let</td>
            </tr>
                {% for i in 0..7 %}
                    <tr>
                        <th>{{ i }}</th>
                        {% for x in bathrooms if x.bathrooms == i %}
                            <td>{{ x.inspectBuy +   x.CallBuy }}</td>
                            <td>{{ x.inspectRent +  x.CallRent }}</td>
                            <td>{{ x.inspectShort + x.CallShort }}</td>
                        {% else %}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        {% endfor %}
                        <th>{{ i }}</th>
                        {% for a in analysis if a.bedrooms == i %}
                            <td>{{ a.inspectBuy +   a.CallBuy }}</td>
                            <td>{{ a.inspectRent +  a.CallRent }}</td>
                            <td>{{ a.inspectShort + a.CallShort }}</td>
                          {% else %}
                              <td>-</td>
                              <td>-</td>
                              <td>-</td>
                        {% endfor %}
                        <th>{{ i }}</th>
                        {% for t in toilets if t.toilets == i %}
                            <td>{{ t.inspectBuy +   t.CallBuy }}</td>
                            <td>{{ t.inspectRent +  t.CallRent }}</td>
                            <td>{{ t.inspectShort + t.CallShort }}</td>
                        {% else %}
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        {% endfor %}
                    </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock body %}