<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=7">
    <meta name="language" content="en-EN"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bulma.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<header class="hero is-light">
    <div class="hero-head">
        <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item is--brand">
                    <img class="navbar-brand-logo" src="{{ asset('images/liteup-logo.png') }}" alt="Liteup logo">
                </a>

                <button class="button navbar-burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
            <div class="navbar-menu navbar-end" id="navMenu">
                <span class="navbar-item navbar-highlighted tooltip is-tooltip-bottom" data-tooltip="Click to add funds">
                    <a href="https://paystack.com/pay/liteup" target="_blank">
                        Budget: ${{app.user.budget}} <i class="fas fa-plus-circle"></i>
                    </a>
                </span>
                {#<a class="navbar-item nav-tag">#}
                    {#<span class="icon"><i class="fas fa-envelope-open"></i></span>#}
                    {#<span class="tag is-primary tag-notif">6</span>#}
                {#</a>#}
                {#<a class="navbar-item nav-tag">#}
                    {#<span class="icon"><i class="fas fa-phone"></i></span>#}
                    {#<span class="tag is-primary tag-notif">4</span>#}
                {#</a>#}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        <span class="icon"><i class="fas fa-user-circle"></i></span>
                        {{app.user.name}}
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item" href="{{ path('fos_user_profile_edit') }}">
                            <span class="icon is-small"><i class="far fa-edit"></i></span>
                            Edit agency info
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="{{ path('fos_user_security_logout') }}">
                            <span class="icon is-small"><i class="fas fa-power-off"></i></span>
                            Logout
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>



<div class="wrapper">
    <div class="columns">

        {{ include(':dashboard/blocks:left.html.twig') }}

        <main class="column main">
        {% if app.session.flashBag.has('error') %}
            <div class="notification is-danger">
                <button class="delete"></button>
                {% set _flashMessage='' %}
                {% for flashMessage in app.session.flashBag.get('error') %}
                    {% set _flashMessage=flashMessage %}
                {% endfor %}
                <p>{{ _flashMessage }}</p>
            </div>
        {% endif %}
        {% if app.session.flashBag.has('success') %}

            <div class="notification is-success">
                <button class="delete"></button>
                {% for flashMessage in app.session.flashBag.get('success') %}
                    <p>{{ flashMessage }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {% block body %}{% endblock %}
        </main>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
            integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/scripts.js') }}"></script>
    {#<script src="{{ asset('js/build.min.js') }}"></script>#}
{% endblock %}
</body>
</html>
