{% extends 'dashboard/base.html.twig' %}

{% block body %}
    <div class="column">
        <div class="navbar has-background-light">
            <div class="navbar-start is-primary">
                <a href="{{ path('property_add') }}" class="navbar-item">
                 <span class="icon is-small mr-5">
                     <i class="fas fa-upload"></i>
                 </span>
                    <span>Post a property</span>
                </a>
                <a href="{{ path('buy_coins_dashboard') }}" class="navbar-item">
                 <span class="icon is-small mr-5">
                     <i class="fas fa-plus-circle"></i>
                 </span>
                    <span>Add coins</span>
                </a>
            </div>

            <div class="navbar-end">
                <a href="" class="navbar-item">
                 <span class="icon is-small mr-5">
                    <i class="fas fa-certificate"></i>
                 </span>
                    <span>How to use</span>
                </a>
            </div>
        </div>
    </div>

    <div class="columns m-t-b-10">
        <div class="column">
            <div class="block-content">
                <div class="block-body color-1">
                    <h3 class="f-w-b">
                        My Listings
                    </h3>
                </div>
                <div class="block-footer">
                    <a href="{{ path('property_index') }}">View Details</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="block-content">
                <div class="block-body color-2">
                    <h3 class="f-w-b">
                        Sales Advice
                    </h3>
                </div>
                <div class="block-footer">
                    <a href="{{ path('sales_advice') }}">View Details</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="block-content">
                <div class="block-body color-3">
                    <h3 class="f-w-b">
                        Property Requests
                    </h3>
                </div>
                <div class="block-footer">
                    <a href="{{ path('property_request_requests') }}">View Details</a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="block-content">
                <div class="block-body color-4">
                    <h3 class="f-w-b">
                        Subscription Plan
                    </h3>
                </div>
                <div class="block-footer">
                    <a href="{{ path('subscription_plan') }}">View Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="m-t-b-60">
        <h3 class="has-text-centered is-size-3 f-w-b">Housing news</h3>
        <div class=" column main">
            <div class="owl-carousel owl-theme owl-loaded" id="dashboard-news-carusel">
                <div class="owl-stage-outer">
                    <div class="owl-stage">
                        {% for blog in blogs %}
                            <div class="owl-item">
                                <div class="dashboard-news-content">
                                    <a href="{{ path('blog_view_page', {'slug' : blog.blogSlug}) }}">
                                        <div class="dashboard-news-image">
                                            <img src="{{ blog.blogOgImage | get_thumb }}" alt="{{ blog.blogTitle }}">
                                        </div>
                                        <div class="dashboard-news-body">
                                            <span class="dashboard-newc-date">
                                                <i class="far fa-clock fa-fw"></i> {{ blog.blogCreatedAt | date('Y-M-d') }}
                                            </span>
                                            <p class="m-t-b-10">{{ blog.blogShortText | slice(0,90) }}...</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-t-b-60">
        <div class="column">
            <div class="notification-content">
                <div class="notification-header">
                    <p>Notification</p>
                </div>
                <div class="notification-body">
                    {% if notifications | length > 0 %}

                        {% for notification in notifications %}
                            <div class="notification-text">
                                <a href="{{ path('notifications') }}">
                                    <p class="txt">{{ notification.notificationText }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="not-notifications">
                            <p>Not Notifications</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}